body {
    /* background-color: #414152; */
    background-image: url("images/waffleHeart.jpg");
    background-repeat: no-repeat;
}

.header {
    font-size: 30px;
    color: white;
    font-family: 'Alegreya SC', serif;
}


.container {
    width: 350px;
    background-color: rgba(105, 13, 25, 0.8);
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5%;
}

.top {
    height: 50px;
    width: 350px;
    background-color: #690D17;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.one {
    height: 75px;
    width: 350px;
    display: flex;
    align-items: center;
}

.oneDrop {

    width: 350px;
    /* border-bottom: 2px solid #690D17; */
    display: none;
}

.twoDrop {
 
    width: 350px;
    /* border-bottom: 2px solid #690D17; */
    display: none;
}

.threeDrop {

    width: 350px;
    display: none;
}

.fourDrop {

    width: 350px;
    display: none;
}

.fiveDrop {
    width: 350px;
    display: none;
}



.oneCircle {
    height: 50px;
    width: 50px;
    background-color: #936D52;
    border-radius: 100%;
    margin-left: 20px;
}

.twoCircle {
    height: 50px;
    width: 50px;
    background-color: #300F00;
    border-radius: 100%;
    margin-left: 20px;
}

.threeCircle {
    height: 50px;
    width: 50px;
    background-color: #0D4769;
    border-radius: 100%;
    margin-left: 20px;
}

.fourCircle {
    height: 50px;
    width: 50px;
    background-color: #003028;
    border-radius: 100%;
    margin-left: 20px;
}

.fiveCircle {
    height: 50px;
    width: 50px;
    background-color: #935257;
    border-radius: 100%;
    margin-left: 20px;
}


h1 {
    font-size: 24px;
    margin-left: 15px;
    font-family: 'Alegreya SC', serif;
    color: white;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 150px;
    list-style-type: none;
}

li {
    font-family: 'Alegreya SC', serif;
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
}